/* AdminProfile.css */

.admin-profile-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.admin-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-profile-header h1 {
  font-size: 24px;
  color: #333;
}

.logout-button {
  padding: 8px 16px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.admin-profile-content {
  display: flex;
}

.user-table {
  flex: 1;
}

.user-table h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

.delete-button {
  padding: 8px 16px;
  margin-right: 5px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button{
  padding: 8px 16px;
  margin-right: 5px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.user-form {
  flex: 1;
  padding-left: 20px;
}

.user-form h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.save-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.save-button:hover {
  background-color: #45a049;
}