.signup-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-sub-main {
    width: 400px;
  }
  
  .signup-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-content h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .signup-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .signup-input label {
    width: 100px;
  }
  
  .signup-username,
  .signup-email,
  .signup-password {
    /* width: calc(100% - 110px); */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-button {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-button button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  