/* course.css */

.course-container {
  font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    max-width: 1000px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .course-card {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(166, 200, 200);
    width: calc(25% - 20px); /* Set the width to a quarter of the available space minus the gap */
    border: 1px solid #040404;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .course-card-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .link{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(11, 11, 11);
    text-decoration: none;
  }

  .ug{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
  }
  .pg1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 340px;
  }

  .course-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    max-width: 1000px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .course-card1 {
    background-color: rgb(172, 144, 181);
    width: calc(25% - 20px); /* Set the width to a quarter of the available space minus the gap */
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .course-card-content1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .as{
    text-align: center;
    /* margin: 20px; */
    padding-left: 330px;
  }